body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('2.jpg') no-repeat center center/cover;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    
    color: white;
    padding: 50px;
}

button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
} 
a{
    background-color: #ff6600;
}
h3,p{
    color: white;
}
